* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body { height: 100%; }

body {
	background-color: #FFF;
	font: 1.0em 'Source Sans Pro', sans-serif;
	text-align: center;
}

h1, h2 {
	margin-bottom: 1em;
}

p {
	margin-top: 0.3em;
	margin-bottom: 0.7em;
}

a {
	color: #00a;
}

a:hover {
	color: #000;
}

a:visited {
	color: #6E23A8;
}

article {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 100%;
	padding-bottom: 50px;
}

.site {
	text-align: left;
	width: 800px;
	margin: 3em auto 2em;
	line-height: 1.5em;
}

.site .header a {
	font-size: 1.1em;
	font-weight: 600;
	text-decoration: none;
}

.site .header h1.title {
	font-size: 1.3em;
	display: inline-block;
	margin-bottom: 80px;
}

.site .header h1.title a {
	color: #a00;
}

.site .header h1.title a:hover {
	color: #000;
}

.site .header a.extra {
	color: #aaa;
	margin-left: 1em;
}

.site .header a.extra:hover {
	color: #000;
}

.site .meta {
	color: #aaa;
}

.site .footer {
	font-size: 0.9em;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.site .footer .contact {
	float: left;
	margin-right: 3em;
}

.site .footer .contact a {
	color: #8085C1;
}

.site .footer .rss {
	margin-top: 1.1em;
	margin-right: -.2em;
	float: right;
}

.site .footer .rss img {
	border: 0;
}
