* {
    margin: 0px;
    padding: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    background-color: #FFF;
    color: #000;
    font: 1.0em 'Source Sans Pro', sans-serif;
    text-align: center;
}

body.fade {
    transition:
        color 0.5s ease-out,
        background-color 0.5s ease-out,
        border-color 0.5s ease-out;
    -webkit-transition:
        color 0.5s ease-out,
        background-color 0.5s ease-out,
        border-color 0.5s ease-out;
    -moz-transition:
        color 0.5s ease-out,
        background-color 0.5s ease-out,
        border-color 0.5s ease-out;
    -o-transition:
        color 0.5s ease-out,
        background-color 0.5s ease-out,
        border-color 0.5s ease-out;
    -ms-transition:
        color 0.5s ease-out,
        background-color 0.5s ease-out,
        border-color 0.5s ease-out;
}

body#dark {
    background-color: #0e0e0e;
    color: #CCC;
}

h1 {
    margin-bottom: 0.5em;
    margin-top: 2em;
}

h2 {
    margin-bottom: 0.2em;
    margin-top: 2em;
}

p, iframe, video {
    margin-bottom: 1.0em;
}

a {
    color: #8085C1;
}

#dark a {
    color: #8085C1;
}

a:hover {
    color: #A3A9EC;
}

#dark a:hover {
    color: #809cc1;
}

article {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    padding-bottom: 50px;
}

.site {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: left;
    min-height: 100%;
    width: 800px;
    padding-top: 3em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}

@media (max-width: 850px) {
    .site {
        width: 90%;
    }
}

.site .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    position: relative;
    align-items: baseline;
    justify-content: flex-start;
}

@media (max-width: 850px) {
    .site .header {
        width: 100%;
        padding-right: 1em;
        justify-content: flex-end;
    }
}

.site .header a {
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    font-weight: 300;
    font-size: 1.2em;
    text-decoration: none;
}

@media (max-width: 850px) {
    .site .header a {
        font-size: 1.1em;
    }
}

.site .header .title {
    font-weight: 300;
    font-size: 2.3em;
    text-align: right;
    margin-bottom: 40px;
}

@media (max-width: 850px) {
    .site .header .title {
        /* page-break-after: always; */
        break-after: page;
    }
}
.site .header .title a {
    color: #555;
}

#dark .site .header .title a {
    color: #999;
}

.site .header .title a:hover,
.site .header .title a.active {
    color: #000;
}

#dark .site .header .title a:hover,
#dark .site .header .title a.active {
    color: #CCC;
}

@media (max-width: 850px) {
    .site .header .title a {
        right: 0px;
    }
}

.site .header .title {
    position: relative;
}

.site .header .title .subhead {
    margin-top: 0.3em;
    font-weight: 300;
    font-size: 0.44em;
    position: absolute;
    right: 0px;
    color: #888;
    font-style: italic;
    text-align: right;
    display: none;
    pointer-events: none;
}

#dark .site .header .title .subhead {
    color: #999;
}

.site .header a.extra {
    color: #999;
    margin-left: 1em;
}

#dark .site .header a.extra {
    color: #777;
}

.site .header a.extra:hover,
.site .header a.extra.active {
    color: #000;
}

#dark .site .header a.extra:hover,
#dark .site .header a.extra.active {
    color: #CCC;
}

.site .header .dark-mode {
    margin-top: 10px;
    margin-left: auto;
    color: #555;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
}

#dark .site .header .dark-mode {
    color: #CCC;
}

.site .header > br {
    display: none;
}

@media (max-width: 850px) {
    .site .header > br {
        width: 100%;
        display: block;
        content: '';
    }
}

.site .meta {
    color: #999;
}

#dark .site .meta {
    color: #777;
}

.site .meta + .meta {
    margin-top: -1.0em;
}

.site .content {
    flex-grow: 1;
    position: relative;
}

.site .footer {
    margin-top: 1em;
    padding-top: 1em;
    overflow: hidden;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #ddd;
}

#dark .site .footer {
    border-top-color: #333;
}

.fade .site .footer {
    transition: border-top-color 0.5s ease-out;
}

.site .footer .blurb {
    font-size: 1.4em;
    font-weight: 300;
    color: #555;
    margin-top: 0.5em;
}

#dark .site .footer .blurb {
    color: #CCC;
}

.site .footer .contact {
    float: left;
    margin-right: 3em;
}

.site .footer .contact.links {
    color: #000;
}

#dark .site .footer .contact.links {
    color: #CCC;
}

.site .footer .contact.links i {
    margin-right: 0.2em;
}

.site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site .footer .rss img {
    border: 0;
}
