#blurb {
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 0;
    margin-right: 0%;
    max-width: 300px;
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.sketch-control {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-family: monospace;
}

.sketch-left, .sketch-right {
    cursor: pointer;
}

.sketch-control .disabled {
    cursor: default;
    color: #ccc;
}

.sketch-title {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 100px;
}

.sketch-mute {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
    font-family: monospace;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.sketch-mute-button {
    position: absolute;
    top: 0;
    left: 0;
}
