#blurb {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

#blurb img {
  display: block;
  float: left;
  height: 280px;
  width: auto;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#about {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  width: 500px;
}
