ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 80%;
}

.title {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #2D2D2D;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  margin-bottom: 0.6em;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

article>ul, p>ul {
  margin-bottom: 2.0em;
}

/* blockquote */
blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 20px;
}

blockquote p {
  display: inline;
  font-style: italic;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post img, .post video, .post iframe {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
