ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 80%;
}

h1, h2, h3, h4, h5, h6 {
  color: #2D2D2D;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

article>ul, p>ul {
  margin-bottom: 2.0em;
}

/* blockquote */
blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 20px;
}

blockquote p {
  display: inline;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
