<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">

	<!-- google font -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic' rel='stylesheet' type='text/css'>

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/common.css">
	{% for css_name in page.extra-css %}
	<link rel="stylesheet" type="text/css" href="{{ css_name }}">
	{% endfor %}
	{% if page.post_css %}
	<link rel="stylesheet" type="text/css" href="{{ page.post_css }}">
	{% endif %}

	<!--Scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>

</head>
<body>

	<div class="site">
		<div class="header">
			<div class="title">
				<a class="hover" href="/">Yujin Ariza</a>
				<div class="subhead">Developer</div>
			</div>
			<a class="extra hover" href="/violin">violin</a>
			<a class="extra hover" href="/dev">development</a>
			<a class="extra hover" href="/blog">blog</a>
		</div>

		<div class="content">
		{{ content }}
		</div>

		<div class="footer">
			<div class="contact">
				<p>
					Yujin Ariza<br />
					Violinist, Programmer<br />
				</p>
			</div>
			<div class="contact">
				<p>
					<a href="https://github.com/yariza">GitHub</a><br>
					<a href="https://linkedin.com/in/yujinariza">LinkedIn</a><br>
					<a href="mailto:me@yujinariza.com">me@yujinariza.com</a><br>
				</p>
			</div>
		</div>
	</div>

</body>
</html>
